.nav-links a {
  text-decoration: none;
  color: #1E1E1E;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 1rem;
}

.nav-links .search-button {
  background: none;
  border: none;
  color: #1E1E1E;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}